*{
    margin:0;
    padding:0;
}
.aboutMain{
    width: 100%;
    margin-top: 114px;
    background-color: #f8f8f8;
    padding-top:48px;
    box-sizing: border-box;
}
.about-words{
    text-align: center;
    width: 600px;
    margin: 0 auto;
    padding-top: 120px;
    box-sizing: border-box;
}
.about-words .words-text{
    margin-bottom: 16px;
    color: #a5c926;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
}
.about-words h1{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
}
.about-words p{
    color: #999;
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 24px;
}
.about-words a{
    padding-bottom: 2px;
    border-bottom: 2px solid #ddd;
    color: #111;
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
    text-decoration: none;
}
.about-words a:hover{
    border-bottom: 2px solid #a5c926;
}
.imgs{
    width: 100%;
    margin-top: 64px;
   
}
.imgs img{
    display: flex;
   width: 1200px;
   margin:0 auto
}
.ab1{
    margin-bottom: 80px;
}
.about-list{
    width: 100%;
}
.about-list1{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    
}
.about-le{
    width: 470px;
   padding:60px 0;
   box-sizing: border-box;
   
}

.about-le h2{
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
}
.about-le .lines{
    width: 70px;
    height: 2px;
    margin-top: 8px;
    margin-bottom: 23px;
    background-color: #a5c926;
}
.about-le p{
    color: #999;
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 24px;
}
.about-le a{
    height: 48px;
    padding: 12px 28px;
    justify-content: center;
    border-radius: 24px;
    background-color: #a5c926;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}
.about-ri img{
    width: 570px;
    height: 423.8px;
    border-radius: 25px;
}
.mar-t{
    margin-top:120px;
}
.about-le .button{
    margin-top: 4px;
    background-image: url(https://assets.website-files.com/5badda2935e11303a89a461e/5baf79eb570913b9781a96f2_arrow-right-mini-icon.svg);
    background-position:126px 53%;
    background-size: 11px;
    background-repeat: no-repeat;
    color: #111;
    background-color: transparent;
    padding:0 30px 0 0;
    border-bottom: 2px solid #ddd;
}

